<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="{% url 'index' %}">Home</a>
            </li>
            <li>
                <a href="{% url 'tasks' %}">Tasks</a>
            </li>
            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'log_out' %}">Logout</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'login' %}">Sign In</a>
            </li>
            <li>
                <a href="{% url 'sign_up' %}">Sign Up</a>
            </li>
            {% endif %}
            
        </ul>
    </nav>
    {% block content %}
    {% endblock content %}
</body>
</html>